<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161202585168-pqcrt27hspesdqef0pat0oltvs8tlnbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161202585168-pqcrt27hspesdqef0pat0oltvs8tlnbe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>161202585168-pqpp0fntimv7ek98jcgohmui6fp2otau.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqCI_5SoTAspkgMK6OuAc7bBd8db6onrM</string>
	<key>GCM_SENDER_ID</key>
	<string>161202585168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unilyfeApp</string>
	<key>PROJECT_ID</key>
	<string>unilyfe-21080</string>
	<key>STORAGE_BUCKET</key>
	<string>unilyfe-21080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161202585168:ios:5d21e0f1aba11578741b55</string>
</dict>
</plist>